    <article>
      <header>
        {{ if .Title }}
        <h2 class="list-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
        {{ end }}
        <p class="list-post-date">
          <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">
            {{ .PublishDate.Format "2 January, 2006 at 15:04 MST" }}
          </time>
        </p>
      </header>
      {{ if .Params.feature }}
      <img src="{{ .Site.BaseURL }}{{ .Params.feature }}" />
      {{ end }}
      <div>
        {{ .Summary | plainify | safeHTML }}
      </div>
      <p><a class="read-more" href="{{ .Permalink }}">Read more &rarr;</a></p>
    </article>