<head>
      <meta charset="utf-8">
      <!-- Site details -->
      <title>{{ .Title }}</title>
      <meta name="description"
            content="{{ .Site.Params.Description }}">
      <meta name="author"
            content="{{ .Site.Params.AuthorName }}">
      <!-- Favicon details -->
      <link rel="icon"
            type="image/png"
            sizes="32x32"
            href="/favicon-32x32.png">
      <link rel="icon"
            type="image/png"
            sizes="16x16"
            href="/favicon-16x16.png">
      <link rel="manifest"
            href="/site.webmanifest">
      <link rel="mask-icon"
            href="/safari-pinned-tab.svg"
            color="#00416a">
      <meta name="msapplication-TileColor"
            content="#00aba9">
      <meta name="theme-color"
            content="#ffffff">
      <!-- IndieWeb identity -->
      {{ with .Site.Params.IndieWeb.EmailAddress }}
      <link rel="me"
            href="mailto:{{ . }}">{{ end }}
      {{ with .Site.Params.IndieWeb.GitHubUser }}
      <link rel="me"
            href="https://github.com/{{ . }}">{{ end }}
      {{ with .Site.Params.IndieWeb.TwitterUser }}
      <link rel="me"
            href="https://twitter.com/{{ . }}">{{ end }}
      {{ with .Site.Params.IndieWeb.GitLabUser }}
      <link rel="me"
            href="https://gitlab.com/{{ . }}">{{ end }}
      <!-- IndieAuth endpoint -->
      <link rel="authorization_endpoint"
            href="https://indieauth.com/auth">
      <!-- Other stuff to make the site work -->
      <style type="text/css">
            {
                        {
                        partial "fonts.css". | safeCSS
                  }
            }
      </style>
      <link rel="stylesheet"
            href="{{ .Site.BaseURL }}css/style.css" />
      <meta name="viewport"
            content="width=device-width, initial-scale=1">

      {{ if .Params.feature }}
      <meta property="og:image"
            content="{{ .Site.BaseURL }}{{ .Params.feature }}" />{{ end }}

      <!-- Google Analytics -->
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async
              src="https://www.googletagmanager.com/gtag/js?id=UA-46342303-2"></script>
      <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());

            gtag('config', 'UA-46342303-2');
      </script>
</head>